NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_ENV=development
RESEND_API_KEY=
RESEND_AUDIENCE_ID=

# SANITY CMS
# use current date (YYYY-MM-DD) to target the latest API version
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-18
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=development
SANITY_API_READ_TOKEN=
# Secret per il webhook di revalidazione (genera una stringa casuale sicura)
# Puoi usare: openssl rand -base64 32 oppure un generatore di password online
SANITY_REVALIDATE_SECRET=your-secret-key-here